body {
    background: lightblue;
}

ul {
    display: flex;
    flex-direction: row;
}

h1 {
<<<<<<< HEAD
    color: lightcoral;
}

p {
    color: white;
=======
    color: yellow;
    font-size: 200px;
>>>>>>> elin
}