body {
    background: lightblue;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: 2rem;
    margin: 1rem;
    transition: 200ms;
}

li:hover {
    background-color: white;
}

a {
    text-decoration: none;
    color:white;
    font-weight: 400;
}

a:hover {
    color: black;
}

h1 {
    color: lightcoral;
}

p {
    color: white;
    color: yellow;
    font-size: 200px;
    color: yellow;
    font-size: 200px;

}